body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

label {
  margin-top: 10px;
  display: block;
}

input, button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}

button {
  margin-top: 15px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #5563c1;
}

#result {
  margin-top: 15px;
  text-align: center;
}
.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.icon-lg {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.icon-btn {
  width: 18px;
  height: 18px;
  object-fit: contain;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
/* SAFETY RULE FOR ALL IMAGES */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.phone {
  margin-top: 5px;
  font-size: 14px;
  color: #444;
  font-weight: 500;
}







